In [50]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,6996,3e607c788c09d6e1f99cc50575e471fee41a322a,ef547badb8b0801d06a93155cc052341c749d1c0,633,SC,F,32,1,104001.38,1,0,1
6996,6997,2afdb40334e1bef3451f3db02b12c255c7a9ff57,e3eb2eea41a60b08392da20a49543d05ac484255,623,RS,F,50,2,87116.71,1,1,1
6997,6998,6a0589e36c12f95a8d3678b460519ed654fe0a3e,e65e12a7eb4e0b15e6d3afb127ce38c0a5303188,611,SC,M,68,5,82547.11,2,1,1
6998,6999,c042de909a1fb157765c84c3278d8e6500807367,a52bbf77611eab47a6eff8641a1a9bd01006acbe,666,RS,F,47,5,0.00,1,0,0
6999,7000,cdce83890ea1d7b64b2caaaea76f499cb5dfe684,2265b3657cc5e97382dc46819e3937c363fe165e,521,SC,M,27,4,121325.84,1,1,1

In [5]:
# MÃ©dia
media = df.groupby('estado_residencia')['pontuacao_credito'].mean()

In [14]:
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [10]:
# Mediana
median = df.groupby('estado_residencia')['pontuacao_credito'].median()

In [15]:
median

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [34]:
# Moda
mode = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)

In [35]:
mode

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

In [12]:
# Desvio PadrÃ£o
dp = df.groupby('estado_residencia')['pontuacao_credito'].std()

In [13]:
dp

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [48]:
res = pd.DataFrame(data = [mode, median, media, dp],
                   columns = ['SC', 'RS', 'PR'], 
                   index = ['moda', 'mediana', 'media', 'desvio_padrao'])

In [49]:
res.to_json('submission.json')